/*
Basic palete
--text: #e0e0f0;
--background: #23232f;
--primary: #3d0029;
--secondary: #543870;
--accent: #8d5bae;*/


/* || General styles */




/* || Typography */



/* || Header and Main Navigation */
