/*
Basic palete
--text: #e0e0f0;
--background: #23232f;
--primary: #3d0029;
--secondary: #543870;
--accent: #8d5bae;*/


/* || General styles */
    .form-switch .form-check-input {
      background-color: #ffffff; /* Unchecked background color */
      border-color: #ccc;
    }
    
    .form-switch .form-check-input:checked {
      background-color: #830057; /* Checked background color */
      border-color: #ffffff; 
    }

    .carousel-img{
        object-fit: cover
    }

    .project-icon{
        width: 40px;}


    @media (max-width: 768px) {
    .infoCollapse{
        width: 20%;
    }

    }




/* || Header and Main Navigation */
    .navbar{
        background-color: #830057; /* Dark red color */
    }

    .navbar-dark .nav-link {
        color: #ffffff;
    }

    .navbar-dark .nav-link:hover {
        transform: translate3d(0, -0.25rem, 0);
        transition: transform 0.1s ease-in-out;
    }

    .icon-link:hover {
        transform: translate3d(0, -0.25rem, 0);
        transition: transform 0.1s ease-in-out;
        color: #ffffff;
    }

    