/*
Basic palete
--text: #e0e0f0;
--background: #23232f;
--primary: #3d0029;
--secondary: #543870;
--accent: #8d5bae;*/


/* || General styles */
    .form-switch .form-check-input {
      background-color: #ffffff; /* Unchecked background color */
      border-color: #ccc; /* Unchecked border color */
    }
    
    .form-switch .form-check-input:checked {
      background-color: #830057; /* Checked background color (dark red) */
      border-color: #ffffff; /* Checked border color (dark red) */
    }

/* || Typography */



/* || Header and Main Navigation */
    .navbar{
        background-color: #830057;; /* Dark red color */
    }

    .navbar-dark .nav-link {
        color: #ffffff; /* Red color */
        transition: transform 0.3s ease-in-out;
    }
        .navbar-dark .nav-link:hover {
        transform: translate3d(0, -0.25rem, 0)
    }
