@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$enable-shadows: true;
$font-family-sans-serif: 'Montserrat', sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap';
